  .header {
    display: flex;
    justify-content: space-between;
    font-family: monospace;
    background: papayawhip;
    align-items: center;

  }

  .logo {
    font-size: 48px;
    font-weight: 900;
    color: tomato;
    background: white;
    padding: 4px 32px;
    margin: 20px;
  }

  ul {
    /* this removes the dots on the list items*/
    list-style-type: none;
    align-items: center;
    display: flex;
  }

  a {
    font-size: 22px;
    background: white;
    padding: 8px;
    margin: 4px;
    /* this removes the line under the links */
    text-decoration: none;
  }